.inputt {
    width: 437px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #656161;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    outline: none;

    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 300;
    color: #242424;

    padding-left: 20px;
}

::placeholder {
 

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */

    letter-spacing: 0.1em;

    color: #5B5B5B;
    margin-top: 10px;
}