.btn-home_page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;

    background: #43436D;
    border-radius: 15px;
    height: 59px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;

    color: #FFFFFF;

    margin-bottom: 40px;
}

.wrapper-fourth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.done-fourth {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 36px;

    margin-top: 35px;
    margin-bottom: 25px;
}

.describe-fourth {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */

    letter-spacing: 0.1em;

    color: #000000;

    margin-bottom: 50px;
}