.search {
    display: flex;
    align-items: center;
    
    min-width: 200px;
}



.search-panel {

    padding-left: 20px;

    background: url('../img/search.svg') no-repeat;
    background-position: right 20px center;
    
    color: rgb(46, 46, 46);

    width: 16em;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #656161;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    background-size: auto 60%;
    font-size: 1.5rem;
    outline: none;
}