.switch-btn {
    display: flex;
    background: #DFDEDE;
    width: auto;
    height: 72px;
    padding: 4px 20px 4px 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: 300ms;
}

.renter {
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    font-size: 24px;
}

.active {
    background: white;
    padding: 15px 35px 15px 35px;
    border-radius: 25px;
    font-size: 24px;
}



